body {
  padding-left: 11em;
  padding-right: 11em;
  font-family: Georgia, "Times New Roman",
       Times, serif;
 color: #76B9E6;
  background-color: lightblue }
h1 {
  background: white;
  margin:0.5em 0.5em;
  padding:0.5em;
  border-right: 0.5em solid pink
}
h2 {
  background: white;
  margin:0.5em 0.5em;
  padding:0.5em;
  border-right: 0.5em solid pink
}

b {
  background-color: lightpink;
}
